<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Thi Code</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/Perfil.png" alt="Foto do Caio" />
        <h1>Caio Dias</h1>
        <div class="social-links mt-4 texte-center">
          <a target="_blank" href=""><i class="bi bi-linkedin"></i></a>
          <a target="_blank" href=""><i class="bi bi-github"></i></a>
          <a target="_blank" href=""><i class="bi bi-youtube"></i></a>
          <a target="_blank" href=""><i class="bi bi-instagram"></i></a>
        </div>
      </section>
      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio"
              ><i class="bi bi-house-door-fill"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"
              ><i class="bi bi-person-fill"></i> Sobre</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades"
              ><i class="bi bi-check-square-fill"></i> Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-file-text-fill"></i> Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-file-check-fill"></i> Portifólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="bi bi-envelope-fill"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Caio Dias</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Meu portifólio de projetos</span
          >
        </div>
        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arraste para mais</a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              finibus, augue in imperdiet auctor, neque justo lobortis turpis,
              mattis porta ex nisi non odio. Quisque pulvinar aliquam finibus.
              Maecenas feugiat nunc sem, vel molestie arcu pellentesque quis.
              Curabitur volutpat, nisi quis sollicitudin gravida, enim est
              lobortis ex, id varius elit nibh in purus. Maecenas volutpat magna
              quis ligula aliquet condimentum. Ut fermentum quis ante in
              commodo. Etiam tincidunt diam vitae dolor sodales, a lobortis
              lectus tempor. Vivamus non dui ac neque ultrices porttitor. Morbi
              sollicitudin porta quam.
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4">
            <img
              class="img-fluid"
              src="../static/img/Perfil.png"
              alt="Foto do Caio"
            />
          </div>
          <div class="col-md-8">
            <h3>Controlador de Manutenção</h3>
            <p>
              Atualmente trabalho no setor de planejamento e controle de
              manutençao
            </p>

            <div class="row">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-6">
                  <li class="list-group-item">
                    Nascimento:
                    <span class="fw-lighter"> 29 de Setembro de 1998</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter"> 25 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter"> Timóteo</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Minas Gerais</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                  <li class="list-group-item">A fourth item</li>
                </ul>
              </div>
            </div>
            <p class="mt-3 mb-3">
              Maecenas in leo nec arcu scelerisque dignissim. Cras dignissim
              vestibulum purus eu ornare. Aenean eget lacus nisi. Ut volutpat
              feugiat nunc vel condimentum. Nulla pretium dapibus ipsum, vitae
              tristique leo suscipit sed. Proin malesuada tellus nibh, ac
              vulputate sapien dictum non. Sed ac fermentum quam. Nam fermentum
              odio id dapibus pharetra. Nam dictum leo sollicitudin fringilla
              porttitor. Curabitur blandit diam vel dolor aliquet elementum.
            </p>
          </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Fusce vel turpis sit amet turpis condimentum molestie. Aliquam dolor
            nunc, pharetra ut volutpat eget, ultricies sed augue. Morbi molestie
            erat et ante gravida, in vulputate leo rutrum. Nullam purus orci,
            fringilla nec neque facilisis, bibendum tincidunt tortor. Aenean
            massa enim, finibus nec nibh at, venenatis aliquam felis. Cras quis
            nunc neque. Pellentesque molestie ante hendrerit diam sagittis
            mollis. Morbi ac tincidunt libero. Donec purus magna, mollis sed
            tellus quis, hendrerit convallis ante..
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 40%">40%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="40"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 40%">40%</div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 80%">80%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 80%">80%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Flask</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 50%">50%</div>
              </div>
              <p class="mt-3 mb-0">Bootstrap</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 30%">30%</div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comprometimento</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="98"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
              <p class="mt-3 mb-0">Disciplina</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="98"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
              <p class="mt-3 mb-0">Proatividade</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 90%">90%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em Equipe</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">90%</div>
              </div>
              <p class="mt-3 mb-0">Busca de Conhecimento</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="98"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
